header {
    background-color: rgb(44, 44, 44);
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

#searchBox {
    width: 300px;
}
#currentWeather {
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}
#forecastDiv {
    padding: 12px;
}

.noBorder {
    border: transparent;
    margin-right: 8px;
}
/* .hide {
    display: none;
} */
.forecast {
    background-color: blue;
    color: white;
    margin-right: 6px;
}
